<!-- REMEMBER: THIS SHOWS ON A BOARD PAGE -->
<!-- if block here, if there are subboards they go here -->
<div class="container boards">
    <div class="reomcatname"><h1>SUB-BOARDS</h1><span>BOARDS IN *insert name here*</span></div>
    <div class="content cap-bottom">
        subboard list
    </div>
</div>
<!-- if block here, displays thread list if there is a list -->
 <!-- the id below also had an if block around it, which leads me to believe this component is also used for bookmarks -->
<div 

 id="bookmarks" 

class="container threads">
    <div class="reomcatname">
        <!-- if block, if the ability to create a thread exists -->
        <h1><a href="link to create thread here">CREATE THREAD</a></h1>
        <!-- end if block? -->
        <span>boards's display name</span></div>
    <!-- there is a scroll class in the div below called $[scroll_class] -->
    <div class="control-bar ui-helper-clearfix ">
        search bar goes here
        <div class="controls">
            selection menu goes here
            action menu goes here
        </div>
        pagination component goes here
    </div>
    <div class="content cap-bottom">
        <table class="list" style="margin-top:30px!important;">
            <tbody class="$[list_class]">
                <app-thread-list></app-thread-list>
            </tbody>
        </table>
    </div>
</div>
